@charset "utf-8";
/* Autor:
 * Fecha:
 * Módulo: DIW
 */

body{
    padding-top: 5px;
}

header {
    padding-bottom: 6px;
}

header, footer, body {
    background-color: #1C2833;
}

main {
    background-color: white;
    padding-bottom: 20px;
}

#nombrePag {
    margin-top: 25px;
    display: inline-block;
    color: white;
}

#columnaContenido {
    margin-top: 26px;
}

#tarjetasZona > div{
    margin-top: 15px;
}

.ocultar {
    display: none;
}

#volverAtras {
    margin-left: 18px;
    background-color: #1C2833;
    border-color:#1C2833;
}

.botonMismoColor {
    background-color: #1C2833;
    border-color:#1C2833;
}

.botonMismoColor:hover {
    background-color: #1C2833;
    border-color:#1C2833;
}

.iniciarSesion {
    width: 300px;
}

#actorDirector {
    margin-top: 2px;
    margin-bottom: 0px;
}

textarea {
	resize: none;
}

.error {
    color: red;
}

.borrarBoton {
    border: 0;
    background-color: inherit;
}

.table td {
    vertical-align: middle;
}

.fade .show {
    opacity: 0;
    transition: opacity .15s linear;
}

.padding {
    padding: 1%;
}
